.common-sidebar {
	max-width: 360px;
	min-width: 360px;
}

.common-sidebar__contents {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	border: 1px solid var(--gray-stroke);
	background-color: var(--white);
	border-radius: 20px;
	margin-bottom: 40px;
}



.sidebar-input__container {
	padding: 8px;
	background-color: var(--gray-stroke);
	border-radius: 16px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 24px;
	z-index: 100;
	position: relative;
}

.sidebar-input__wrapper {
	background-color: var(--white);
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
	border-radius: 10px;
	padding: 0 16px;
	z-index: 100;
	border: 2px solid transparent;
	transition: border-color 0.2s ease-in-out;
	pointer-events: auto;
}

.sidebar-input__wrapper img {
	user-select: none;
}

.sidebar-input {
	width: 100%;
	padding: 16px 16px;
	padding-left: 0;
	font-size: 16px;
	border-radius: 10px;
	line-height: 110%;
	color: var(--gray-dark);
	background-color: var(--white);
}

.sidebar-input::placeholder {
	color: #A6ABB5;
	transition: all 0.2s ease-in-out;
}

.sidebar-input:hover::placeholder {
	color: var(--gray-dark);
}

.sidebar-input__wrapper:has(.sidebar-input:focus) {
	border-color: var(--accent-blue);
	z-index: 30;
}

.sidebar-input__container:has(.sidebar-input:focus) {
	border-color: var(--accent-blue);
	z-index: 30;
}

.sidebar-input-clear {
	/* width: 24px; */
	/* height: 24px; */
	cursor: pointer;
	display: none;
	color: var(--gray-dark);
	pointer-events: auto;
	z-index: 100;
	transition: all 0.2s ease-in-out;
}

.sidebar-input-clear:hover {
	color: var(--black);
}

.sidebar-input__search-results {
	background-color: var(--white);
	width: 100%;
	max-width: 760px;
	max-height: 300px;
	overflow-y: auto;
	display: none;
	flex-direction: column;
	gap: 4px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0px 20px 60px rgba(77, 86, 106, 0.1);
	z-index: 140;
	position: absolute;
	top: calc(100% + 8px);
	color: var(--gray-dark);
	font-size: 16px;
	line-height: 140%;
	font-weight: 600;
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sidebar-input__search-results.active {
	display: flex;
	opacity: 1;
	transform: translateY(0);
}

.category-widget__post-list {
	display: none;
	flex-direction: column;
	gap: 4px;
	background-color: var(--white);
	border-radius: 10px;
}

.category-widget__post-list.active {
	display: flex;
}

.category-widget__post-item {
	font-size: 14px;
	font-weight: 500;
	color: var(--gray-dark);
	text-decoration: none;
	padding: 8px 0;
}

.category-widget__post-item:hover {
	color: var(--accent-blue);
}

.category-widget__arrow {
	width: 16px;
	height: 8px;
	transition: transform 0.3s ease-in-out;
}

.category-widget__title.is-active .category-widget__arrow {
	transform: rotate(180deg);
}

.card-btn.active {
	background-color: var(--gray-back);
}


@media (max-width: 850px) {
	.common-sidebar {
		display: none;
	}
}