/* Sidebar styles */
.sidebar {
	max-width: 360px;
	min-width: 360px;
}

.sidebar__search-container {
	padding: 8px;
	background-color: var(--gray-stroke);
	border-radius: 16px;
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 100;
}

.sidebar__search-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
	padding: 0 16px;
	background-color: var(--white);
	border-radius: 10px;
	border: 2px solid transparent;
	transition: border-color 0.2s ease-in-out;
}

.sidebar__search-wrapper img {
	user-select: none;
}

.sidebar__search-input {
	width: 100%;
	padding: 16px 0;
	font-size: 16px;
	line-height: 110%;
	color: var(--gray-dark);
	background-color: transparent;
	border: none;
}

.sidebar__search-input::placeholder {
	color: var(--gray-light);
	transition: color 0.2s ease-in-out;
}

.sidebar__search-input:hover::placeholder {
	color: var(--gray-dark);
}

.sidebar__search-input:focus {
	outline: none;
}

.sidebar__search-wrapper:has(.sidebar__search-input:focus) {
	border-color: var(--accent-blue);
}

.sidebar__search-clear {
	cursor: pointer;
	display: none;
	color: var(--gray-dark);
	transition: color 0.2s ease-in-out;
}

.sidebar__search-clear:hover {
	color: var(--black);
}

.sidebar__search-results {
	display: none;
	flex-direction: column;
	gap: 4px;
	padding: 20px;
	background-color: var(--white);
	border-radius: 20px;
	box-shadow: 0 20px 60px rgba(77, 86, 106, 0.1);
	width: 100%;
	max-height: 320px;
	overflow-y: auto;
	position: absolute;
	top: calc(100% + 8px);
	z-index: 140;
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sidebar__search-results.active {
	display: flex;
	opacity: 1;
	transform: translateY(0);
}

.sidebar__categories {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	border: 1px solid var(--gray-stroke);
	background-color: var(--white);
	border-radius: 20px;
	margin-bottom: 40px;
}

.sidebar__category-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 12px 20px;
	border-radius: 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 700;
	color: var(--black);
	line-height: 140%;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sidebar__search-results.active .sidebar-search-result-item {
	opacity: 1;
	transform: translateY(0);
	display: flex;
	align-items: center;
	padding: 12px 20px;
	border-radius: 10px;
}

.sidebar-search-result-item:hover {
	background-color: var(--gray-back);
}

.sidebar-search-result-item span {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sidebar-search-result-item .sidebar__post-icon {
	width: 8px;
	height: 16px;
	flex-shrink: 0;
	opacity: 0;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.sidebar-search-result-item:hover .sidebar__post-icon {
	opacity: 1;
	transform: translateX(2px);
}

.sidebar__category-title:hover {
	background-color: var(--blue-back);
	color: var(--accent-blue);
}

.sidebar__category-content {
	display: flex;
	align-items: center;
	gap: 8px;
}

.sidebar__category-count {
	font-size: 16px;
	font-weight: 700;
	color: var(--accent-blue);
	background-color: rgba(0, 128, 255, 0.08);
	padding: 2px 4px;
	border-radius: 4px;
}

.sidebar__category-arrow {
	width: 16px;
	height: 8px;
	transition: transform 0.3s ease-in-out;
}

.sidebar__category-title.is-active .sidebar__category-arrow {
	transform: rotate(180deg);
}

.sidebar__post-list {
	flex-direction: column;
	gap: 4px;
	opacity: 0;
	height: 0;
	overflow: hidden;
	transform: translateY(-10px);
	transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sidebar__post-list.active {
	opacity: 1;
	height: auto;
	transform: translateY(0);
}

.sidebar__post-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 20px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 600;
	color: var(--gray-dark);
	text-decoration: none;
	transition: background-color 0.2s ease-in-out;
}

.sidebar__post-item:hover {
	background-color: var(--gray-back);
}

.sidebar__post-item.active {
	background-color: var(--gray-back);
}

.sidebar__post-icon {
	width: 8px;
	height: 16px;
	opacity: 0;
	flex-shrink: 0;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.sidebar__post-item:hover .sidebar__post-icon {
	opacity: 1;
	transform: translateX(2px);
}

.sidebar__no-posts {
	font-size: 14px;
	color: var(--gray-dark);
	padding: 8px 20px;
	line-height: 140%;
}

@media (max-width: 850px) {
	.sidebar {
		display: none;
	}
}